@model IEnumerable<SignalRMVC.Models.User>
@{
    ViewData["Title"] = "All users";
}

@foreach (var item in Model)
{
    @if (item.UserName != User?.Identity?.Name)
    {
        <a asp-area="" asp-controller="home" asp-action="viewusermessages" asp-route-name2="@User?.Identity?.Name" asp-route-name="@item.UserName">@item.UserName</a>
    }
    
}
