
@{
    ViewData["Title"] = "Home Page";
}

<h1>Main page</h1>
@if (User.Identity.IsAuthenticated){
    <p>Select the user you want in "All users" and send a message</p>
}else{
    <p>Please log in or register!</p>
    <div class="index_content">
        <a class="buttonInd_Login" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        <a class="buttonInd_Reg" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    </div>
    
}