a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    line-height: 1.2;
    
}

body {
    margin-bottom: 60px;
    font-family: Roboto,sans-serif;
    background-color: #eaeaea;
}
.headLa {
    background-color: rgb(34, 34, 34);
    background-image: url(../images/headImage4.png);
    background-position: min(100%);
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: block;
}
.nav_item_text {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    color: #d8d8d8;
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 14px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
    .nav_item_text:hover {
        color: #fff;
        background-color: #343a40;
    }
.nav_item_name {
    color: rgb(159, 207, 255) !important;
}
.nav_item_button {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    color: #d8d8d8;
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.exit_button {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #212529;
    background-color: lightyellow;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    .exit_button:hover {
        transform: scale(1.025);
    }
.all_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 600px;

}
.user_content {
    border: 1px solid black;
    background-color: #e0e6ec;
}
.user_url {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-right: 1rem;
    padding-left: 1rem;
}
.users_list {
    flex: 0 0 200px;
    background-color: #DAE8EC;
}
.user_messages {
    flex: 1 1 25%;
    background-color: #9999FF;
}
.messages_content {

    background-color: #fff;
}
.index_content {
    width: 100px;
}
.buttonInd_Login {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: lightyellow;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
}
.buttonInd_Reg {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: lightsteelblue;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
}
    .buttonInd_Reg:hover, .buttonInd_Login:hover {
        text-decoration: none;
        color: #212529;
        transform: scale(1.025);
    }
.send_message {
    display: table;
    margin: 4px;
    padding: 1px;
    box-sizing: border-box;
    width: 100%;
}

.input_message {
    display: table-cell;
    width: 80%;
    padding: 4px 6px;
}
    .input_message:focus {
        box-shadow: 0 0 10px #DAE8EC;
    }
    .input_message > .btn_message {
        width: 100%;
        margin: 2px;
        padding: 2px;
        box-sizing: border-box;
    }
.btn_message {
    margin-left: 5px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: lightsteelblue;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
}
.dateMessage {
    color: gray;
    font-size: 11px;
    font-weight: 400;
}